@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import "./abstracts/theme.module";

:root {
  @include printVariables();
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #676767;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  // font-family: 'Cormorant Garamond', serif;

  font-family: "Noto Sans", sans-serif;
  background-color: #f6f4ee !important;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f9f9f9;
    border-radius: 44px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    width: 1px;
    background: rgba(166, 112, 51, 1);
    border-radius: 44px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(166, 112, 51, 1);
  }
}
#__next {
  overflow-x: hidden;
}
.drawer_section {
  padding: 30px 0;
  .brandLogo {
    display: inline-block;
    width: 200px;
    line-height: 0;
    margin-bottom: 20px;

    svg {
      width: 100%;
    }
  }
  .navitems {
    padding: 20px;
    li {
      width: auto;
      margin-bottom: 20px;
      a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #021526;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #a67033;
        }
      }
    }
  }
  .booknow_btn {
    min-width: auto;
    width: calc(100% - 40px);
    min-height: auto;
    margin: 0 20px;
  }
  .MuiAccordion-root {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    .MuiAccordionSummary-root {
      padding: 0;
      min-height: auto;
      box-shadow: none;
      &.Mui-expanded {
        padding: 10px 0;
      }
      .MuiAccordionSummary-content {
        margin: 0;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #021526;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
      }
    }
    .MuiCollapse-wrapper {
      .MuiAccordionDetails-root {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.faq-ans {
  ul {
    padding-left: 30px;
    li {
      list-style: disc !important;
    }
  }
  ol {
    padding-left: 30px;
    li {
      list-style: auto;
    }
  }
}
.menue_list_dropdown {
  .MuiPaper-elevation {
    overflow: hidden;
    ul {
      max-height: 350px;
      overflow-y: auto;
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #f9f9f9;
    border-radius: 44px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    width: 1px;
    background: rgba(166, 112, 51, 1);
    border-radius: 44px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(166, 112, 51, 1);
  }
}
